- name: enable dirs
  file: name={{ item }} state=directory
  with_items:
  - "{{ ca_dir }}"
  - /root/.kube
  - /etc/docker

- name: copy cfssl tools
  copy: src={{ base_dir }}/bin/{{ item }} dest={{ bin_dir }}/{{ item }} mode=0755
  with_items:
  - cfssl
  - cfssl-certinfo
  - cfssljson

- name: copy CA
  copy: src={{ item }} dest={{ ca_dir }}/{{ item }} mode=0644
  with_items:
  - ca.pem
  - ca-key.pem
  - ca.csr
  - ca-config.json

- name: remove firewall
  when: ansible_distribution == "CentOS"
  yum: name={{ item }} state=absent
  with_items:
  - firewalld
  - firewalld-filesystem
  - python-firewall

- name: disable selinux
  shell: "setenforce 0 && echo SELINUX=disabled > /etc/selinux/config"
  when: ansible_distribution == "CentOS"
  ignore_errors: true

- name: load br_netfilter
  modprobe: name=br_netfilter state=present

- name: copy sysctl configuration
  copy: src=k8s-sysctl.conf dest=/etc/sysctl.d/k8s-sysctl.conf

- name: enable sysctl configuration
  shell: "sysctl -p /etc/sysctl.d/k8s-sysctl.conf"
  ignore_errors: true
